
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./image/bgimg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.newsletter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 90%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    width: 100%;
    height: auto;
}

.image-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.people-image {
    width: 430px;
    height: 350px;
}

.content-box {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: 40px;
}

.logo img {
    margin-bottom: 10px;
    width: 300px;
    height: 172px;
}

p {
    font-size: 22px;
    margin-bottom: 20px;
    white-space: normal;
    width: 600px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    font-size: 22px;
}

input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    flex: 1;
    height: 64px;
    font-size: 22px;
}

button {
    padding: 10px 20px;
    background-color: #007A8A;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 64px;
    font-size: 22px;
}

/* Responsiveness for 1024px */
@media (max-width: 1024px) {
    .newsletter-container {
        padding: 30px;
    }

    .content-box {
        margin-left: 20px;
        padding: 15px;
    }

    .image-box {
        padding: 20px;
    }

    .people-image {
        width: 350px;
        height: auto;
    }

    p {
        font-size: 20px;
        width: auto;
    }

    h2 {
        font-size: 26px;
    }

    input[type="email"], button {
        font-size: 20px;
        height: 58px;
    }
}


@media (max-width: 768px) {
    .newsletter-container {
        flex-direction: column;
        padding: 20px;
        width: 500px;
        height: 756px;
    }

    .content-box {
        margin-left: 0;
        padding: 10px;
        text-align: center;
    }

    .image-box {
        padding: 20px;
    }

    .people-image {
        width: 300px;
        height: auto;
    }

    p {
        font-size: 18px;
        width: auto;
    }

    h2 {
        font-size: 22px;
    }

    input[type="email"], button {
        font-size: 18px;
        height: 50px;
    }
}


@media (max-width: 375px) {
    .newsletter-container {
        padding: 10px;
    }

    .content-box {
        padding: 10px;
    }

    .people-image {
        width: 250px;
        height: auto;
    }

    p {
        font-size: 16px;
        width: auto;
    }

    h2 {
        font-size: 20px;
    }

    input[type="email"], button {
        font-size: 16px;
        height: 45px;
    }

    button {
        padding: 10px 15px;
    }
}


@media (max-width: 320px) {
    .newsletter-container {
        padding: 10px;
    }

    .content-box {
        padding: 5px;
    }

    .people-image {
        width: 200px;
        height: auto;
    }

    p {
        font-size: 14px;
        width: auto;
    }

    h2 {
        font-size: 18px;
    }

    input[type="email"], button {
        font-size: 14px;
        height: 40px;
    }

    button {
        padding: 8px 12px;
    }
}
